@mixin shadow(){
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}
@mixin  hover_shadow(){
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  -ms-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
  -o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}
body{
  background-color: #e4e4e4;
  background-image: url("../img/patern_oreginal.png");
  background-size: 220px;
}
.sub_header{
  background-color: #469fc7;
  height: 55px;
  h3{
    float: left;
    margin: 0;
    margin-left: 100px;
    padding: 14px;
    color: white;
    font-size: 15px;
    i{
      position: relative;
      top:2px;
      right: 2px;
      font-size: 18px;
    }
  }
}
.margin_top_55{
  margin-top: 55px;
}
.header {
  background-image: linear-gradient(to right, #4fb1e8, #4dbaea, #4fc2ec, #54caed, #5cd2ed);
  height: 200px;

  #headingimg {
    display: block;
    text-align: center;
    margin-top: 50px;

    img {

    }
  }

  @media (max-width: 768px) {
    .search-header {
      margin-top: 10px !important;
    }
  }

  .search-header {
    margin: 0 auto;
    margin-top: 70px;

    input[type=search] {
      height: 38px;
      width: 200px;
      border-radius: 0 5px 5px 0;
      border: 0;
      padding: 5px;
      transition: all 500ms;
      //margin-right: 10px;

      &:focus {
        border: 0;
        outline: none;
        padding: 15px;
      }

    }
    select{
      background-color: white;
      border: 0;
      height: 34px;
      &:focus {
        outline: none;
      }
    }



    form{
      background-color: white;
      height: 38px;
      border-radius: 5px;
      label{
        &::after {
          content: "|";
          //margin-left: 8px;
        }
      }
    }
    .dropdown {
      background-color: white !important;
      border-radius: 10px 0 0 10px;

    }

    .btn-success {
      border-radius: 5px 0 0 5px !important;
      //margin-right: 10px;
      width: 100px;
      float: left;
    }

    .btn:focus, .btn.focus {
      box-shadow: none !important;

    }
  }
}
.container{
  height:100%;
}
@media only screen and (max-width: 1200px){
.container {
  max-width:none !important;
  }
  .header .search-header{
    width: 97%;
  }
  input[type=search] {
    width: 60px !important;
    font-size: 12px;
  }
  .btn-success {

    width: 90px !important;
  }

}
.awselect .back_face ul{
  float: none !important;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1379px !important;
  }

}
@media screen and (max-width: 782px) {
  #wpadminbar span::before{
    font-size: 25px !important;
  }
  #wpadminbar ul li a::before{
    font-size: 25px !important;
  }
  #wpadminbar .ab-item{
    padding: 1px !important;
  }
}
.slider{
  background-color: white;
  //height: 400px;
  margin-top: 10px;
  img{
    padding-top: 15px;
  }
}
.sub-menu{
  height: 200px;



}
.active{
  display: block!important;
}
.deactive{
  display: none ;
}
.menu{

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding: 0 !important;
  }
   ul{
    padding: 0 !important;
  }
  margin-top: 20px;

   .nav-tabs .nav-link{
    //padding: 40px;
    background-color: white;
    height: 160px;
    width: 100%;
     padding: 0;
     &:hover .icon{
       background: linear-gradient(to right, #1358d8, #278de0, #51a0e7, #88e0ee, #9beff5);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
  }
  .icon{
    text-align: center;
    padding: 25px;
    font-size: 51px;
    display: block !important;
    background: linear-gradient(to right, #5bb1d8, #67c1e0, #76d0e7, #88e0ee, #9beff5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 500ms;
  }
  .nav-tabs .nav-link{
    text-align: center;
  }

}




#main_menu
{
  float:right;
  //padding:0px;
  width:100%;
  height:100%;
  margin: 0;
  position: relative;
  top: 2px;
  //background: #444;
}
#main_menu .main_list
{
  color:#fff;
  list-style-type:none;
  float:right;
  //border-left:1px solid #666;
  //padding-left:27px;
  //padding-right:27px;
  //font-family: IRANSANS;
  line-height: 32px;
  width: 16.6%;
  height: 200px;
  background-color: rgb(254, 253, 255);
  text-align: center;
}
#main_menu .main_list a:hover
{
  color: #1358d8 !important;
}
#main_menu .main_list a {
  color: #2e2e2e !important;
  text-decoration: none;
}
.main_list ul
{
  background-image: url("../img/shamse vector.png"),linear-gradient(to right, #3e9487, #3c9081, #3a8c7a, #388874, #36846e);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: absolute;
  //bottom: -1px;
  left: -10px;
  width:102%;
  padding:0px;
  float:right;
  padding-bottom:10px;
  z-index: 99999999999999999999999;
  //border: 1px #ccc solid;
  @include shadow;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  height: 180px;
}
.main_list{


  i{
    display: block;
    font-size: 50px;
    padding: 45px;
  }
  //&::after{
  //  content: "";
  //  color: rebeccapurple;
  //  //position: absolute;
  //  display: block;
  //  width: 0;
  //  height: 0;
  //  border-left: 10px solid transparent;
  //  border-right: 10px solid transparent;
  //  margin: 0 auto;
  //  border-bottom: 10px solid #3e9487;
  //}

}
.main_list ul ol
{
  float:right;
  padding:0px;
  list-style-type:none;
  margin-left:30px;
  //border-left: 1px #eee solid;
  width: 22.2%;
  padding-bottom: 10px;
  padding-right: 10%;
}
.main_list ul ol:nth-child(4n+0) {
  border-left:1px solid #fff;
}
.main_list ul ol li
{
  line-height:25px;
  font-weight:bold;
  font-size:13px;
  color:#777;
  font-weight: normal;
  text-align: right;
}
.main_list ul ol a li {
  color:white !important;
  transition:0s all ease !important;
  margin-right: 15px
}
.main_list ul ol a:hover li {
  color:#ffb400 !important;
}
.main_list2 {
  margin-right: 20px !important;
  line-height: 20px !important;
}
.main_list ul ol li:first-of-type
{
  list-style-type:disc;
  font-size:16px;
  margin-top:14px;
  color:#2E9AFE;
  //font-family: IRANSANS;
  font-weight: normal;
  text-align: right;

}
.main_list ul ol a.mmmk li:first-of-type {
  color:#ffb400 !important;
  font-weight: bold;
}
.main_list:hover ul
{
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  height:180px;
   transition: all 0.6s;

}
.main_list:hover::after{
  content: "";
  color: rebeccapurple;
  //position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: 0 auto;
  border-bottom: 10px solid #3e9487;
}

.main_list ul
{
  opacity: 0;
  visibility: hidden;
  height: 1px;

}

.single_menu{
    ul{
      float: right;
      margin-top: 20px;
      li{
        display: inline-block;
        list-style: none;
        padding: 10px;

        &:hover a{
          color: white;
        }
        a{
          color: #263238;
          text-decoration: none;
          transition: all 1s;
        }
      }
    }
}
.co-footer{
  background-image: linear-gradient(to right, #4fb1e8, #4dbaea, #4fc2ec, #54caed, #5cd2ed);
  height: 100px;
  margin-top: 50px;
}
.footer{
  background-color: white;
 padding: 50px;
  img{
    background-color: black;
    height: 80px;
    margin: 0 auto;
    text-align: center;
  }
  h3{
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
  }
  ul{
    float: right;
    text-align: right;
    padding: 0;
    li{
      list-style: none;
      padding: 5px 10px 5px 10px;
      i{
        margin-right: 15px;
        transition: all 0.5s;
      }
      &:hover a{
        color: #4DBAEA;
      }
      &:hover i{
        color: #4DBAEA;
        margin-right: 20px;
      }
      a{
        text-decoration: none;
        color: #263238;
        transition: all 0.5s;
        position: relative;
      }
    }
  }
  p{
    text-align: right;
    color: #263238;
  }
  h6{
    text-align: right;
    font-weight: bold;
  }
}

.index_img{

  img{
    cursor: pointer;
    margin-top: 20px;
    transition: all 1s;
    &:hover
    {
     opacity: 0.8;
    }
  }
}
.rnd_post{
  margin-top: 20px;
  .wo-posts{
    margin-top: 20px;
   .row{
     background-color: white;
     padding:50px 30px 0 5px;
     height: 100%;
     margin: 5px 0 5px 0;
     border-radius: 6px;
   }
    .wo-post{
      p{
        margin-bottom: 40px;
        text-align: right;
        word-break: break-all;
        a{
          color: #263238;
          text-decoration: none;
        }
        span{
          float: right;
          margin-left: 10px;
        }
      }
      h2{
        text-align: right;
        color: #4DBAEA;
        a{
          text-decoration: none;
        }
      }
    }
  }
}
.last_post{
  h3{
    font-size: 20px;
    color:#263238;
    text-align: right;
    padding: 40px 5px;
    //position: relative;
    hr{
      //position: absolute;
      //width: 82%;
      //margin-top: 7px;
      //margin-left: 0px;
      //margin-right: 209px;
      //height: 5px;
      //background-color: #4DBAEA;

    }
    img{
      padding: 10px !important;
    }
  }
}
.last_posts{
  background-color: white;
  height: 100%;
  padding: 30px;
  @include shadow;
  transition: all 0.6s !important;
  &:hover{
    @include hover_shadow ;
  }
p{
    text-align: center;
  word-break: break-all;
    span{
      color: #263238;
      float: right;
      margin-left: 10px;
    }
  a{
    color: #263238;
  }
  }
  h3{
    text-align: center;
    color: #4DBAEA;
    margin-top: 9px;
    font-size: 21px;
    a{
      text-decoration: none;
    }
  }

}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}
.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.breadcrumbs{
  padding: 1px;
  background-color: white;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  p{
    text-align: right;
    margin-right: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.single_p{
  margin-top: 20px;
  background-color: white;
  .single_post{
    padding: 40px;
    .link_nav{
      h6{
        margin-top: 5px;
      }
      h6 a{
        padding:5px 10px 2px 10px;
        margin-right: 5px;
        border: 1px solid rgba(0, 0, 0, 0.52);
        text-decoration: none;
        i{
          color: rgba(0, 0, 0, 0.52);;
        }

      }
      h2{
        margin-right: 10px;
        a{
          text-decoration: none;
        }
      }
    }
  }
  p{
    text-align: right;
    word-break: break-all;
    font-size: 17px;
    color:#263238 ;
  }
}
.post-ratings{
  text-align: right;
}
.nav-tabs{
  padding: 20px;
  margin: 0 auto;
  li{
    .active{
      display: inline !important;
      color:#4DBAEA ;
    }
    a{
      font-size: 28px;
      color: #263238;
      text-decoration: none;
      padding: 15px;
    }

  }
  span{
    font-size: 31px;
  }

}

.tab_post{
  background-color: white;
  padding: 20px;
  p{
    text-align: right;
    word-break: break-all;
    color:#263238 ;
    font-size: 15px;
  }
}
.di_none{
  display: none;
}
/* =========================================================
 * Comments
 * ========================================================= */

.comment{
text-align: right;

}
#comments{
  h2{
    text-align: right;
    font-size: 20px;
  }
}
ol.comment-list{
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
  text-indent: 0;
  li{}
  li.alt{}
  li.bypostauthor{}
  li.byuser{}
  li.comment-author-admin{}
  li.comment{
    padding: 1em;
    border-bottom: 1px solid #ddd;
    .comment-author{
      .says{
        display: none;
      }
    } // end .comment-author

    div.vcard{
      font-weight: em(14);

      cite.fn{
        a.url{}
      } // end cite.fn

      img.avatar{
        float: left;
        margin: 0 20px 10px 0;
        border: 5px solid #ccc;
      } // end .avatar
      img.avatar-32{} // end .avatar-32
      img.photo{} // end .photo
      span.says{} // ebd .says
    }  // end .vcard
    div.commentmetadata{} // end .commentmetadata
    div.comment-meta{
      font-size: em(12);
      a{
        color: #ccc;
      } // end a
    } // end div.comment-meta
    p{
      clear: both;
    } // end p
    ul{
      margin: 0 0 0 20px;
      list-style: none;
      font-size: em(12);
    } // end ul
    div.reply{
      font-size: em(12);
      a{
        font-weight: bold;
      } // end a
    } // end reply
    ol.children{
      margin: 12px;
      list-style-type: none;
      text-indent: 0;
      li{} // end li
      li.alt{}
      li.bypostauthor{}
      li.byuser{}
      li.comment{}
      li.comment-author-admin{}
      li.depth-2{
        margin: 0 0 10px 10px;
        border-left: 5px solid #ccc;
      }
      li.depth-3{
        margin: 0 0 10px 10px;
        border-left: 5px solid #bbb;
      }
      li.depth-4{
        margin: 0 0 10px 10px;
        border-left: 5px solid #aaa;
      }
      li.depth-5{} // you get the idea
      li.odd{} // end .odd
    }  // end ul.children
  } // end li.comment
  li.even{
    background: #fff;
  }
  li.odd{
    background: #f6f6f6;
  }
  li.parent{
    border-left: 5px solid #ddd;
  }
  li.thread-alt{}
  li.thread-even{}
  li.thread-odd{}
} // end commentlist

.wp_ulike_likers_wrapper:not(.wp_ulike_display_inline){
  right: 0;
  left: unset !important;
}
.form-submit input[type='submit']{

}
.img_250 img{
  height: 250px !important;
}
.img_da img{
  height: 96.5% !important;
}
.register{
  background-color: white;
  padding: 50px;
  text-align: right;
  height: 100%;
  h3{
    text-align: center;
    color:#4DBAEA ;
    margin-bottom: 50px;
  }
  p{
    color:#263238 ;
    font-size: 13px;
    margin-bottom: 50px;
  }
  .awselect{
    width: 100% !important;
    border: 1px solid #00000030;
    margin-bottom: 40px;
  }
  .form-control{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .btn{
    margin: 0 auto !important;
    display: block !important;
  }
}
.last_p{
  padding: 50px;
  background-color: white;
  h3{
    text-align: center;
    color:#263238 ;
    font-size: 18px;
    margin-bottom: 50px;
  }

}
#img_add{
  text-align: center;
  margin-top: 40px;
}
.order_by{
  padding: 15px;
  height: 60px;
  margin-top: 20px;
  background-color: white;
  p{
    margin-left: 90px;
    padding-top: 10px;
    display: inline;
  }
}
.category_list{
  padding: 1px 40px 40px 40px;
  margin-top: 20px;
  background-color: white;
}
.contents{
  text-align: right;
  padding-right: 40px;
  h2{
    a{
      text-decoration: none;
    }
  }
  p{
    margin-top:20px;
    color: #263238;
  }
}
.margin_top_20{
  margin-top: 50px;
}
#SearchParameters.in,
#SearchParameters.collapsing {
  display: block!important;
}
.nav_mobile{
  float: right;
  ul li{
    list-style: none;
    a{
      color: #263238;
    }
  }
}



